<div class="image-class" *ngIf="image$ | async as image">
  <a routerLink="/images">retour</a>
  <h2>{{ image.title | uppercase }}</h2>
  <img [src]="image.imageUrl" [alt]="image.title" [ngClass]="{'clicked':image.clicks > 100}">
  <p>{{ image.createdDate | date:'longDate' }}</p>
  <div *ngIf="image.location" class="location">
    <img class="icon" src="./assets/place_black_24dp.svg" alt="location">
    <p>{{ image.location }}</p>
  </div>
  <button (click)="onClick(image.id)">Click !</button>
  <span [ngStyle]="{ color: 'rgb(0, ' + image.clicks + ', 0)' }">{{ image.clicks }}</span>
</div>
